asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==1.9
cssselect==1.0.1
fake-useragent==0.1.7
future==0.16.0
hyperlink==17.2.1
idna==2.5
incremental==17.5.0
lxml==3.7.3
olefile==0.44
parsel==1.2.0
Pillow==9.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
PyDispatcher==2.0.5
pymongo==3.4.0
pyOpenSSL==17.1.0
queuelib==1.4.2
requests==2.18.2
Scrapy==1.4.0
scrapy-fake-useragent==1.1.0
service-identity==17.0.0
six==1.10.0
Twisted==17.5.0
urllib3==1.22
w3lib==1.17.0
Werkzeug==0.12.2
xlrd==1.0.0
you-get==0.4.803
zope.interface==4.4.2
